/*-------------------- SEARCH BAR ------------------------*/

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    font-family: "Orbitron", sans-serif;
    color: #fff;
    font-size: 16px;
    margin-top: 80px;
    background-color: #444;
    transition: 0.5s;
}

.search-bar input:focus {
    outline: none;
    box-shadow: 0px 0px 20px 5px #ad3aa8;
    filter: contrast(85%);
    transition: 0.5s;
}

.search-bar input:active {
    cursor: url(images/supernova.png), auto;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #444;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    color: white;
    box-shadow: 0 10px 15px #000000, 0 10px 25px #000000;
    cursor: url(images/spaceship.png), auto;
    border: none;
    border-radius: 3px;
    margin-top: 80px;
    transition: 0.5s;
}

.search-bar button:hover {
    box-shadow: 0 0 15px #ff47c2, 0 0 25px #ff88f9;
    transition: 0.5s;
}

.search-bar button:active {
    cursor: url(images/supernova.png), auto;
}

@media (max-width: 768px) {
    .search-bar input {
        display: flex;
        font-size: 10px;
    }
    .search-bar button {
        font-size: 10px;
    }
} 
    
/* ---------------------- MAIN CONTENT -------------------------- */
main {
    padding: 20px;
}

.seasonal-topics,
.hot-topics {
    margin-top: 40px;
    margin-bottom: 30px;
}

.seasonal-topics h2,
.hot-topics h2 {
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
}

.featured-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #1a1a1a;
    border-radius: 5px;
}

.featured-guide a {
    display: block;
    text-align: center;
}

.featured-guide img {
    box-shadow: 0 4px 8px #020202, 0px 5px 25px #000000;
    max-width: 98%;
    overflow: hidden;
    align-items: center;
    margin-top: 1%;
    height: auto;
    border-radius: 5px;
    cursor: url(images/spaceship.png), auto;
}

.featured-guide img:hover {
    cursor: url(images/spaceship-charged.png), auto;
    box-shadow: 0 0 15px #ff47c2, 0 0 25px #ff88f9;
    transition: 0.5s;
}

.guides-list,
.hot-topics-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.guide,
.topic {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
}

.guide img,
.topic img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px #020202, 0px 5px 25px #000000;
}

.guide img:hover,
.topic img:hover {
    cursor: url(images/spaceship-charged.png), auto;
    box-shadow: 0 0 15px #ff47c2, 0 0 25px #ff88f9;
    transition: 0.5s;
}

@media (max-width: 768px) {

    .guides-list,
    .hot-topics-list {
        flex-direction: column;
    }

    .guide,
    .topic {
        flex: 1 1 100%;
    }
}