.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.faction-title {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-shadow: 0 0 15px rgb(255, 251, 0), 0 0 25px #fffb00;
    font-weight: bold;
    font-size: 3em;
    padding: 20px;
}

.character-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}

.character {
    position: relative;
    margin: 60px 0;
}

.character img {
    border-radius: 50%;
    width: 500px;
    transition: transform 0.5s ease;
    border: 1px solid #ff88f9;
    box-shadow: 0 0 20px rgba(255, 62, 239, 1);
}

.character .info-box {
    position: absolute;
    font-family: "Poppins";
    text-align: justify;
    font-size: 22px;
    right: 10px;
    top: 0;
    opacity: 0;
    background-color: #1f1f1f;
    border-radius: 8px;
    color: white;
    padding: 30px;
    border: 1px solid #fffbda;
    box-shadow: 0 0 20px rgb(255, 251, 0);
    transition: opacity 0.3s ease, width 0.3s ease, left 0.5s ease;
    overflow: hidden;
    height: 100%;
    width: 0px;
}

.character:hover img {
    transform: translateX(-600px);
}

.character:hover .info-box {
    transition: 0.5s;
    opacity: 1;
    width: 900px;
    left: 0vh;
}
.character:not(:hover) .info-box {
    transition: 0.5s;
    opacity: 0;
    left: 0vh;
}

/* Stat Bars */
.stat-bars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 1250px;
    margin-bottom: 50px;
}

.stat-bar {
    margin-bottom: 10px;
}

.bar-name {
    display: inline-block;
    width: 250px;
    color: #fff;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
    text-align: left;
}

.bar-stat {
    display: inline-block;
    width: 50px;
    color: #fff;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
    text-align: right;
}

.bar {
    display: inline-block;
    width: 200px;
    height: 14px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 10px;
}

.bar .fill {
    height: 100%;
    background-color: #fffb00;
    border-radius: 10px 0 0 10px;
}