.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.faction-title {
    color: #fff;
    text-shadow: 0 0 15px rgb(255, 251, 0), 0 0 25px #fffb00;
    font-weight: bold;
    font-size: 3em;
    padding: 20px;
}

.character-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}

.character {
    position: relative;
    margin: 60px 0;
}

.character img {
    border-radius: 50%;
    width: 500px;
    transition: transform 0.5s ease;
    border: 1px solid #ff88f9;
    box-shadow: 0 0 20px rgba(255, 62, 239, 1);
}

.character .info-box {
    position: absolute;
    font-family: "Poppins";
    text-align: justify;
    font-size: 24px;
    right: 10px;
    top: 0;
    opacity: 0;
    background-color: #1f1f1f;
    border-radius: 8px;
    color: white;
    padding: 30px;
    border: 1px solid #fffbda;
    box-shadow: 0 0 20px rgb(255, 251, 0);
    transition: opacity 0.3s ease, width 0.3s ease, left 0.5s ease;
    overflow: hidden;
    height: 100%;
}

.character:hover img {
    transform: translateX(-600px);
}

.character:hover .info-box {
    opacity: 1;
    width: 900px;
    left: 0vh;
}
