/* ------------------------ GLOBAL STYLES ------------------------ */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
    filter: #000 2px;
    background-color: #000;
    overflow-x: hidden; /* Prevent side scroll */
    cursor: url(images/spaceship.png), auto;
}

button:hover,
button:focus {
    cursor: url(images/spaceship.png), auto;
}

/* ------------------------ BANNER VIDEO ------------------------ */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    pointer-events: none;
}

.banner-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.banner-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 80%;
    text-align: center;
}

.banner-text h2 {
    font-size: 140px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 30px #ff47c2, 0 0 50px #ff88f9;
    font-weight: 900;
}

/* ------------------------ NAV BAR ------------------------ */
.navbar {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3px;
    opacity: 0;
    height: 0px;
    transition: opacity 0.8s ease-in-out;
}

.navbar a {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar.show {
    opacity: 0.9;
    height: 30px;
}

header a {
    color: #ff88f9;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    padding: 2px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
}

header a:hover {
    transition: 0.7s;
    color: #fff;
    text-shadow: 0 0 30px #ff47c2, 0 0 50px #ff88f9;
    cursor: url(images/spaceship.png), auto;
}

header a:active {
    cursor: url(images/supernova.png), auto;
    color: #000;
    background-color: #ff88f9;
}

/* ------------------------ HERO SECTION ------------------------ */
.hero-section {
    text-align: center;
    padding: 20px;
    background: url('images/Pig-Corridor.png') no-repeat center center/cover;
    box-shadow: 0 0 15px #ff47c2, 0 0 25px #ff88f9;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
    z-index: 10;
}

.hero-content h1 {
    font-size: 2em;
    font-family: "Orbitron", sans-serif;
    margin: 0.5em 0;
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 30px #000000;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.hero-content p {
    font-size: 1.8em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 0.5em 0 1em;
    text-shadow: 0 0 30px #000000;
    -webkit-text-stroke: 0.7px rgb(0, 0, 0);
}

/* ------------------------ VIDEO CONTAINER ------------------------ */
.video-container {
    position: relative;
    width: 75%;
    padding-bottom: 42.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 2em auto;
    box-shadow: 0 20px 25px #000000, 0 20px 45px #000000;
    border-radius: 5px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ------------------------ CALL TO ACTION BUTTONS ------------------------ */
.cta-buttons .cta {
    display: inline-block;
    margin: 0.9em;
    padding: 0.5em 0.75em;
    background: #ff47c2e0;
    color: #000;
    text-decoration: none;
    border-radius: 45px;
    transition: background 0.7s;
    font-size: 18px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    box-shadow: 0 10px 15px #000000, 0 10px 25px #000000;
    cursor: url(images/spaceship.png), auto;
}

.cta-buttons .cta:hover {
    background: #fff;
    box-shadow: 0 0 15px #ff47c2, 0 0 25px #ff88f9;
    transition: 0.7s;
    cursor: url(images/spaceship.png), auto;
}

.cta-buttons .cta:active {
    cursor: url(images/supernova.png), auto;
}

/* ------------------------ KEY FEATURES AND HIGHLIGHTS ------------------------ */
.key-features {
    padding: 40px 20px;
    background: #101010;
    border-width: 50px;
    border-color: #ff47c2;
    text-align: center;
    z-index: 2;
}

.key-features h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 10px 15px #000000, 0 5px 15px #000000;
}

.feature h3 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.feature p {
    font-size: 1em;
}

/* ------------------------ NEWS ------------------------ */
.whats-new {
    padding: 40px 20px;
    background: #000000;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 5px #ff47c2, 0 0 25px #ff88f9;
        cursor: url(images/spaceship.png), auto;
}

.whats-new h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-list li {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.art-competition {
    color: #ff47c2;
    text-decoration: none;
    cursor: url(images/spaceship.png), auto;
}

.art-competition:active {
    cursor: url(images/supernova.png), auto;
}

/* ----------------------- FOOTER ------------------------ */
.footer-class {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    border-radius: 50%;
    border-color: #ff88f9;
    font-size: 2em;
    color: rgb(243, 155, 255);
    opacity: 0.9;
}

.social-icons a:hover {
    cursor: url(images/spaceship.png), auto;
    transition: 0.7s;
    color: #fff;
    text-shadow: 0 0 15px #ff47c2, 0 0 25px #ff88f9;
}

.social-icons a:active {
    cursor: url(images/supernova.png), auto;
}

.footer-bottom p {
    display: flex;
    justify-content: center;
    color: #ff88f9;
    font-size: 20px;
    padding: 0px 0px 20px;
    margin-top: -10px;
}

/* ------------------------ MOBILE SUPPORT ------------------------ */
@media only screen and (max-width: 768px) {
    .navbar a{
        position: fixed;
        height: 12px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .navbar.show {
        opacity: 0.9;
        height: 12px;
    }
}

header a {
    font-size: 2.1vw;
    font-weight: 500;
    padding: 0px 4vw;
}

@media (min-width: 768px) {
    .hero-content h1 {
        font-size: 3em;
    }

    .hero-content p {
        font-size: 1.5em;
    }

    .cta-buttons .cta {
        padding: 1em 2em;
    }

    .features {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .feature {
        flex: 1 1 300px;
    }

    .feature h3 {
        font-size: 1.5em;
    }

    .feature p {
        font-size: 1em;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .hero-content h1 {
        font-size: 2.5em;
    }

    .hero-content p {
        font-size: 1.3em;
    }

    .cta-buttons .cta {
        padding: 0.9em 1.6em;
    }

    .features {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .feature {
        flex: 1 1 45%;
        max-width: 45%;
    }

    .feature h3 {
        font-size: 1.4em;
    }

    .feature p {
        font-size: 0.95em;
    }
}

@media (max-width: 479px) {
    .banner-text h2 {
        font-size: 3em;
    }

    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .cta-buttons .cta {
        padding: 0.5em 1em;
        font-size: 1em;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 90%;
        max-width: 300px;
        padding: 15px;
    }

    .feature h3 {
        font-size: 1.2em;
    }

    .feature p {
        font-size: 0.9em;
    }

    .footer-bottom p {
        font-size: 16px;
    }
}